body {
    margin: 0;
    padding: 0;
}

#container {
    padding: 0;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
}

#header {
    height: 160px;
    width: 980px;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-color: #fff000;
}

#left {
    display: inline;
    float: left;
    width: 165px;
}

#center {
    display: inline;
    float: left;
    width: 605px;
    padding: 0 20px;
}

#right {
    display: inline;
    float: left;
    width: 140px;
}

.clear {
    clear: both;
}

#bottom {
    background-color: #9d2224;
}

p {
    text-align: justify;
    font-size: 16px;
}

p, h1, h2, a {
    font-family: Verdana, sans-serif;
}

ul.single-vertical-menu {
    padding: 0;
}

ul.single-vertical-menu li {
    left: 0;
    height: 45px;
    padding: 0;
    margin: 0;
    background: url('images/bgmenu.gif') no-repeat;
    list-style: none;
}

ul.single-vertical-menu li > a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 5px;
}

ul.single-vertical-menu li > a:hover {
    color: red;
}

.linkedimg {
    border: #920001 1px solid;
    cursor: pointer;
}

#owner {
    display: inline;
    float: left;
    width: 660px;
    color: #ffffff;
    padding-left: 20px;
}

#developer {
    display: inline;
    float: right;
    color: #999999;
    width: 240px;
    padding-right: 20px;
}

#developer > p {
    text-align: right;
}

#menu {
    background: #1e7c9a;
    padding: 5px 15px 5px 15px;
    position: fixed;
    top: 0;
    left: 10px;
}

#menu li {
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px 0 15px;
    background: #1e7c9a;
}

#menu li a {
    white-space: nowrap;
}

#menu > li {
    display: inline;
    position: relative;
    padding: 5px 10px;
}

#menu > li:hover {
    background: #2f8d9a;
}

#menu > li > ul {
    display: none;
}

#menu > li:hover > ul {
    display: block;
    position: absolute;
    left: -50px;
}

#menu > li > ul > li {
    position: relative;
}

#menu > li > ul > li > ul {
    display: none;
}

#menu > li:hover > ul > li:hover > ul {
    display: block;
    position: absolute;
    left: 140px;
    top: 0;
}

#menu > li > ul > li {
    width: 150px;
    border-bottom: solid 1px #1e6c8b;
    background: #2aa876;
}

#menu > li > ul > li > ul > li {
    width: 150px;
    border-bottom: solid 1px #1e6c8b;
    background: #abc123;
}

ul.droplinemenu {
    position: relative;
    background: #2f8d9a;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.droplinemenu > li {
    display: inline;
    height: 20px;
    padding: 5px 10px;
    list-style-type: none;
    cursor: pointer;
}

ul.droplinemenu > li:hover {
    background: #cdcdcd;
}

ul.droplinemenu > li > ul {
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    /*width: 900px;*/
    /*background: #cdcdcd;*/
}

ul.droplinemenu > li:hover > ul {
    display: inline;
    background-color: #ffd265;
}

ul.droplinemenu > li > ul > li {
    display: inline;
    cursor: pointer;
    list-style-type: none;
    padding: 5px 10px;
}

ul.droplinemenu > li > ul > li:hover {
    color: red;
}
